html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.input__ctn {
  margin-bottom: 0.5rem;
}

.input__ctn label {
  font-family: apercuRegular;
  font-size: 1rem;
}

.input__div--valid {
  border: 4px solid black;
  box-sizing: border-box;
}

.input__div--invalid {
  border: 4px solid #f84f5a;
  box-sizing: border-box;
}

.input__span--valid {
  font-family: apercuRegular;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #4fb07d;
}

.input__span--invalid {
  font-family: apercuRegular;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #f84f5a;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  color: #000000;
  cursor: pointer;
}

.sidebar a:hover {
  color: #ffffff;
}

a.link {
  text-decoration: underline;
}

a.link:hover {
  color: #ed7b48;
}

.button__navbarMenu {
  font-family: canelaRegular;
  font-size: 1.5rem;
}

.button__sidebarClose {
  font-family: canelaBold;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.button__index--create {
  border: 4px solid black;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: canelaBold;
  font-size: 1rem;
  cursor: pointer;
  margin: 0rem 1rem;
}

.button__index--edit {
  border: 4px solid black;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: canelaBold;
  font-size: 1rem;
  cursor: pointer;
  width: 6rem;
  text-align: center;
  background-color: #4fb07d;
}

.button__index--delete {
  border: 4px solid black;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: canelaBold;
  font-size: 1rem;
  cursor: pointer;
  width: 6rem;
  text-align: center;
  background-color: #f84f5a;
}

.button__index--submit {
  border: 4px solid black;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: canelaBold;
  font-size: 1rem;
  cursor: pointer;
  width: 12rem;
  text-align: center;
  background-color: #4fb07d;
}

.button__ingredientCreate--submit {
  border: 4px solid black;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: canelaBold;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4fb07d;
}

form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
}

.form__ctn {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

form.baseIndex__search {
  position: relative;
  display: flex;
  width: 100%;
  background-color: pink;
}

form.baseIndex__search > div {
  font-family: apercuRegular;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form__ctn--search {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 30vw;
}

.form__input--search {
  font-family: apercuRegular;
  font-size: 1rem;
  border: 4px solid black;
  box-sizing: border-box;
  padding: 0.15rem 0.5rem;
  width: 100%;
}

.form__success {
  border: 2px solid #4fb07d;
}

.form__failure {
  border: 2px solid #f84f5a;
}

.form__label {
  font-family: apercuRegular;
  font-size: 1.25rem;
}

.form__input--textNum,
.form__input--login,
.form__input--select {
  font-family: apercuRegular;
  font-size: 1rem;
  border: 4px solid black;
  box-sizing: border-box;
  padding: 0.15rem 0.5rem;
  width: 35%;
}

.form__input--login {
  font-family: canelaBold;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  background-color: #ed7b48;
}

.navbar > h1 {
  font-family: canelaBold;
  font-size: 2.5rem;
}

.sidebar {
  position: absolute;
  z-index: 10;
  top: 0%;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  width: 20vw;
  height: 100%;
  background-color: #bd5a4b;
}

.sidebar__ctn--userInfo,
.sidebar__ctn--tableInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.sidebar__ctn--userInfo > h2,
.sidebar__ctn--tableInfo > h2 {
  font-family: canelaBold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar__ctn--userInfo ul,
.sidebar__ctn--tableInfo ul {
  font-family: apercuRegular;
  font-size: 1.25rem;
  box-sizing: border-box;
  padding-left: 1rem;
}

.sidebar__ctn--userInfo ul li,
.sidebar__ctn--tableInfo ul li {
  margin-bottom: 1rem;
}

.sidebar__email > p {
  font-family: canelaRegular;
  font-size: 1rem;
}

.base {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

.base__flash--success,
.base__flash--error {
  font-family: apercuRegular;
  font-size: 1rem;
  align-self: center;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.base__flash--success {
  background-color: #4fb07d;
}

.base__flash--error {
  background-color: #f84f5a;
}

.base__searchCtn--minMax {
  display: flex;
}

.baseLogin {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseLogin__ctn {
  border: 4px solid black;
  box-sizing: border-box;
  width: 60vw;
}

.baseLogin__header > h1 {
  font-family: canelaBold;
  font-size: 2.5rem;
  padding: 1rem;
}

.baseLogin__footer {
  display: flex;
  justify-content: center;
  border-top: 4px solid black;
  box-sizing: border-box;
}

.baseLogin__footer > p {
  font-family: apercuRegular;
  font-size: 1.25rem;
  padding: 1rem;
}

.baseIndex,
.baseCreate {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.baseIndex > div:first-child,
.baseCreate > div:first-child {
  display: flex;
  padding: 2rem;
}

.baseIndex > div > h1,
.baseCreate > div > h1 {
  font-family: canelaBold;
  font-size: 2.5rem;
}

.baseIndex__header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.baseIndex__ctn {
  position: relative;
  overflow: scroll;
  box-sizing: border-box;
  width: 100%;
}

table.baseIndex__table {
  table-layout: fixed;
  width: 100%;
}

.baseIndex__table > thead {
  background-color: orange;
}

.baseIndex__table > thead th {
  font-family: apercuRegular;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 10vw;
}

.baseIndex__table > tbody tr td:first-child,
.baseIndex__table > tbody tr td:last-child {
  text-align: center;
}

.baseIndex__table > tbody td {
  font-family: apercuRegular;
  font-size: 1rem;
  border: 2px solid black;
  box-sizing: border-box;
  vertical-align: top;
}

.baseIndex__table > tbody td.td__wordBreak {
  padding-right: 0.5rem;
  word-break: break-all;
}

.baseIndex__img {
  width: 10vw;
}

body {
  position: relative;
}

@font-face {
  font-family: "apercuRegular";
  src: url("./vendors/fonts/apercu/apercuRegular.ttf");
}
@font-face {
  font-family: "apercuBold";
  src: url("./vendors/fonts/apercu/apercuBold.ttf");
}
@font-face {
  font-family: "apercuMedium";
  src: url("./vendors/fonts/apercu/apercuMedium.ttf");
}
@font-face {
  font-family: "apercuLight";
  src: url("./vendors/fonts/apercu/apercuLight.ttf");
}
@font-face {
  font-family: "nittiBold";
  src: url("./vendors/fonts/nitti/Nitti-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nittiRegular";
  src: url("./vendors/fonts/nitti/Nitti-Normal.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "canelaBlack";
  src: url("./vendors/fonts/canela/Canela-Black.ttf");
}
@font-face {
  font-family: "canelaBold";
  src: url("./vendors/fonts/canela/Canela-bold.ttf");
}
@font-face {
  font-family: "canelaDeckBold";
  src: url("./vendors/fonts/canela/Canela-Deck-Bold.ttf");
}
@font-face {
  font-family: "canelaLight";
  src: url("./vendors/fonts/canela/Canela-Light.ttf");
}
@font-face {
  font-family: "canelaMedium";
  src: url("./vendors/fonts/canela/Canela-Medium.ttf");
}
@font-face {
  font-family: "canelaRegular";
  src: url("./vendors/fonts/canela/Canela-Regular.ttf");
}
@font-face {
  font-family: "canelaThin";
  src: url("./vendors/fonts/canela/Canela-Thin-1.ttf");
}

/*# sourceMappingURL=main.css.map */
