{{#extends "base"}}

  {{#block "content"}}
    <section class="baseCreate">

      <div>
        <h1>Delete Classification</h1>
      </div>

      <form method="POST">
        <h1>Are you sure you want to delete {{classification.title}}</h1>
        <div>
          <a class="button__index--delete" href="/admin/classification">Cancel</a>
          <input type="submit" value="Submit" class="button__index--edit" />
        </div>
      </form>

    </section>
  {{/block}}

{{/extends}}