{{#extends "base"}}

  {{#block "content"}}
    <section class="baseCreate">
      
      <div>
        <h1>Create Category</h1>
      </div>

      <form class="form__login" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

        {{{form}}}
        <input
          type="submit"
          value="Add Product"
          class="button__index--submit"
        />
      </form>

    </section>
  {{/block}}

{{/extends}}