
a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  color: $black-color;
  cursor: pointer;
}

.sidebar a:hover {
  color: $white-color;
}

a.link {
  text-decoration: underline;
}

a.link:hover {
  color: $sidebar-color1;
}

.button__navbarMenu {
  @include h5__base--canela;
}

.button__sidebarClose {
  @include h1__base--canela;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

















// Admin page buttons
.button__index--create {
  @include button__base;
  margin: 0rem 1rem;
}

.button__index--edit {
  @include button__base;
  width: 6rem;
  text-align: center;
  background-color: $green-color;
}

.button__index--delete {
  @include button__base;
  width: 6rem;
  text-align: center;
  background-color: $red-color;
}

.button__index--submit {
  @include button__base;
  width: 12rem;
  text-align: center;
  background-color: $green-color;
}

.button__ingredientCreate--submit {
  @include button__base;
  background-color: $green-color;
}







