
.base {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

.base__flash--success,
.base__flash--error {
  @include p__base;
  align-self: center;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.base__flash--success {
  background-color: $green-color;
}

.base__flash--error {
  background-color: $red-color;
}


// // ---------- baseLogin stuff ----------

.baseLogin {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseLogin__ctn {
  @include borders__testing;
  width: 60vw;
}

.baseLogin__header > h1 {
  @include h1__base--canela;
  padding: 1rem;
}

.baseLogin__footer {
  display: flex;
  justify-content: center;
  border-top: 4px solid black;
  box-sizing: border-box;
}

.baseLogin__footer > p {
  @include h6__base--apercu;
  padding: 1rem;
}


// ---------- baseIndex stuff ----------

.baseIndex,
.baseCreate {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.baseIndex div:first-child,
.baseCreate div:first-child {
  display: flex;
  padding: 2rem;
}

.baseIndex > div > h1,
.baseCreate > div > h1 {
  @include h1__base--canela;
}

.baseIndex__header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.baseIndex__ctn {
  position: relative;
  overflow: scroll;
  box-sizing: border-box;
  width:100%;
}

table.baseIndex__table {
  table-layout:fixed;
  width: 100%;
}

.baseIndex__table > thead {
  background-color: orange;
}

.baseIndex__table > thead th {
  @include p__base;
  box-sizing: border-box;
  padding: 1rem;
  width: 10vw;
}

.baseIndex__table > tbody tr td:first-child,
.baseIndex__table > tbody tr td:last-child {
  text-align: center;
}

.baseIndex__table > tbody td {
  @include p__base;
  border: 2px solid black;
  box-sizing: border-box;
  vertical-align: top;
}

.baseIndex__table > tbody td.td__wordBreak {
  padding-right: 0.5rem;
  word-break: break-all;
}

.baseIndex__img {
  width: 10vw;
}


