.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  background-color: $sidebar-color1;
}

.navbar > h1 {
  @include h1__base--canela;
}

