.sidebar {
  position: absolute;
  z-index: 10;
  top: 0%;
  // Menu button changes display to flex
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  width: 20vw;
  height: 100%;
  background-color: $sidebar-color2;
}

.sidebar__ctn--userInfo,
.sidebar__ctn--tableInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.sidebar__ctn--userInfo > h2,
.sidebar__ctn--tableInfo > h2 {
  @include h2__base--canela;
  margin-bottom: 1rem;
}

.sidebar__ctn--userInfo ul,
.sidebar__ctn--tableInfo ul {
  @include h6__base--apercu;
  box-sizing: border-box;
  padding-left: 1rem;
}

.sidebar__ctn--userInfo ul li,
.sidebar__ctn--tableInfo ul li {
  margin-bottom: 1rem;
}

.sidebar__email > p {
  @include p__base--canela;
}
